{:paths   ["src"]
 :version "1.1.0"
 :deps    {org.clojure/core.async {:mvn/version "1.6.673"}}
 :aliases {:build  {:deps       {io.github.clojure/tools.build {:git/tag "v0.7.2"
                                                                :git/sha "0361dde"}}
                    :ns-default build}
           
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                    :exec-fn    deps-deploy.deps-deploy/deploy
                    :exec-args  {:installer :remote
                                 :artifact  "target/blah.jar"
                                 :pom-file  "target/classes/META-INF/maven/com.github.brianium/blah/pom.xml"}}
           
           :dev    {:extra-paths ["dev"]
                    :extra-deps  {org.clojure/clojurescript {:mvn/version "1.11.4"}
                                  integrant/integrant       {:mvn/version "0.8.0"}}}
           
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                    :main-opts  ["-m" "cljfmt.main"]}}}
